<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ismael Lunkes Pereira</h5>
          <p class="grey-text text-lighten-4">Projeto Final UC Frameworks Web - UTFPR</p>
        </div>
      </div>
    </div>
    <div class="footer-repositorio">
      <div class="container">
        <a class="materialize-red-text.text-lighten-5" routerLink="https://github.com/ismaellunkes/pluviometro-app/">Repositório do projeto no GitHub</a>
      </div>
    </div>
  </footer>
