<nav>
  <div class="nav-wrapper">
    <a href="/autoria" class="brand-logo">PluvioApp</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/novo">Novo</a></li>
      <li><a routerLink="/listagem">Listagem</a></li>
      <li><a routerLink="/autoria">Autoria</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/novo">Novo</a></li>
  <li><a routerLink="/listagem">Listagem</a></li>
  <li><a href="/autoria">Autoria</a></li>
</ul>
