<table>
  <thead>
    <tr>
        <th>Data/Hora Reg.</th>
        <th>Registro(mm)</th>
        <th>Item Locais</th>
        <th>Responsável</th>
        <th>Ligou Irrig.?</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let registro of registrosPluviometria">
      <td>{{ registro.dataHoraRegistro | date: 'dd/MM/yyyy HH:mm:ss'  }}</td> 
      <td>{{ registro.registro }}</td>          
      <td>{{ registro.locais }}</td>          
      <td>{{ registro.responsavel }}</td>          
      <td>{{ registro.isLigouIrrigacao === true ? "Sim" : "Não" }}</td>          
    </tr>   
  </tbody>
</table>

<app-total-precipitacao
[totalPrecipitacao] = "this.totalPrecipitacao" 
>
</app-total-precipitacao>


