<div class="row">
  <div class="input-field col s12">      
  </div>
  <div class="col s12 m8 l9">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Data/Hora</th>
          <th>Precipitação (mm)</th>
          <th>Locais</th>
          <th>Responsável</th>
          <th>Ligou Irrig.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input name = "input-data-hora" [(ngModel)]="this.registroPluviometria.dataHoraRegistro"/></td>          
          <td><input name = "input-registro" [(ngModel)]="this.registroPluviometria.registro"/></td>          
          <td><input name = "input-locais" [(ngModel)]="this.registroPluviometria.locais"></td>          
          <td><input name = "input-responsavel" [(ngModel)]="this.registroPluviometria.responsavel"></td>          
          <td><input name = "input-ligou-irrigacao" [(ngModel)]="this.registroPluviometria.isLigouIrrigacao"></td>                    
        </tr>        
      </tbody>
    </table>
  </div>
</div>
